.animate
{
    transition: 0.3s;
}
.animate:hover
{
    transform: scale(1.03);
}

.chat-bubble {
  display: inline-block;
  position: relative;
  background: #0d6efd; /* Bootstrap primary blue */
  color: white;
  padding: 3px 10px;
  font-weight: bold;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #0d6efd; /* same as background */
  border-bottom: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}
.text-justify-custom 
{
  text-align: justify;
}
.myInput
{
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}
.myInput:focus
{
  border-bottom: 1px solid blue;
  box-shadow: none;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one-lines {
  display: -webkit-box;
  -webkit-line-clamp: 1;   /* show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.five-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;   /* show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}